<% path ||= tool_path(tool) %>

<li class="tool">
	<div class="banner">
		<%= link_to path do %>
			<%= if tool.screens.count > 0 then image_tag tool.screens.first.screenshot.url(:banner) end %>
			<%= if tool.screens.count > 0 then image_tag tool.screens.first.screenshot.url(:desat_banner), class: 'desat' end %>
		<% end %>
	</div>
	<div class="meta group">
		<%= link_to path do %>
			<%= image_tag tool.icon.url(:thumb), class: 'icon' %>
		<% end %>
		<div class="right">
			<h3><%= link_to tool.name, path %></h3>
			<ul class="categories">
				<% tool.categories.each do |category| %>
					<li><%= link_to category.title, tools_path(params: {category_ids: [category.id]}) %></li>
				<% end %>
			</ul>
		</div>
		<div class="bottom">
			<div class="bubble add-tool">
				<%= link_to root_path, class: 'group' do %>
					<div class="action-icon toolbox"></div>
					<span><%= tool.users_count %></span>
				<% end %>
			</div>

			<ul class="bubble platforms">
				<% tool.platforms.each do |platform| %>
					<li>
						<%= link_to root_path, class: 'group' do %>
							<div class="action-icon <%= platform.name.parameterize %>"><%= link_to platform.name, tools_path(params: {platform: platform.id}) %></div>
						<% end %>
					</li>
				<% end %>
			</ul>
		</div>
	</div>
</li>