<%= render 'shared/filter', docked: true %>

<% if @tools.count > 0 %>
	<ul class="items has-banner">
		<% # render 'shared/category_banner' %>

		<li class="suggest-tool tool group" itemscope itemtype="http://schema.org/SoftwareApplication">
			<%= link_to 'Suggest a Tool', suggestions_tools_path, class: 'button' %>

			<p>Know of a great tool that's not on our list? You can help us out by suggesting it.</p>
		</li>

		<% @tools.each do |tool| %>
			<%= render 'tools/tool', tool: tool %>
		<% end %>
	</ul>
<% else %>
	<div id="no-tool-results">
		<div class="inner">
			<h3>Can’t find what you're looking for?<wbr> Tell us about it!</h3>
			<%= link_to 'Suggest a Tool', suggestions_tools_path, class: 'red button' %>
		</div>
	</div>
<% end %>

<div id="infinite-indicator" class="group"></div>
<%= paginate @tools %>