<h1 class="strike four col"><span>Log In</span></h1>

<%= form_tag sessions_path do %>
	<div class="field">
		<label for="email">Username or Email</label>
		<%= text_field_tag :email_or_username, params[:email_or_username] %>
	</div>
	<div class="field">
		<label for="password">Password <%= link_to "forgot?", new_password_reset_path, tabindex: -1 %></label>
		<%= password_field_tag :password %>
	</div>

	<%= submit_tag "Log In", class: "submit button" %>
	<div class="sign-up">
		<em>New?</em> <%= link_to "Sign up now", signup_path %>
	</div>
<% end %>