<% tool ||= item %>
<% path ||= tool_path(tool) %>
<% mini ||= false %>
<% has_tool = current_user ? current_user.tools.exists?(tool.id) : nil %>

<li class="tool item <% tool.categories.each do |c| %> <%= c.title.parameterize %> <% end %> <%= 'mini' if mini %>" itemscope itemtype="http://schema.org/SoftwareApplication">
    <% unless mini %>
        <div class="banner">
            <%= link_to path do %>
                <%= if tool.first_screen_banner then image_tag tool.first_screen_banner, itemprop: 'screenshot' end %>
                <%= if tool.first_screen_desat_banner then image_tag tool.first_screen_desat_banner, class: 'desat' end %>
            <% end %>
        </div>
    <% end %>
    <div class="meta group">
        <%= link_to path do %>
            <%= image_tag tool.icon_thumb, class: 'icon', itemprop: 'image' %>
        <% end %>
        <div class="right">
            <h3 itemprop="name"><%= link_to tool.name, path, itemprop: 'url' %></h3>
            <ul class="categories">
                <% tool.categories.each do |category| %>
                    <li itemprop="applicationCategory"><%= link_to category.title, tools_path(params: {category_ids: [category.id]}) %></li>
                <% end %>
            </ul>
            <% if !tool.short_desc.blank? %>
                <p class="description" itemprop="description"><%= tool.short_desc %></p>
            <% elsif !tool.description.blank? %>
                <p class="description" itemprop="description"><%= tool.description.truncate(55) %></p>
            <% end %>
        </div>
        <div class="bottom">
            <div class="bubble add-tool <%= current_user ? (has_tool ? 'remove' : 'add') : 'join' %>">
                <a href="#" class="default">
                    <div class="action-icon toolbox"></div>
                    <span class="users-count"><%= tool.users_count %></span>
                </a>

                <% if current_user %>
                    <%= link_to toolbox_tools_path(tool: tool.id), remote: true, method: :post, class: 'add group' do %>
                        <div class="action-icon white-toolbox"></div>
                        <span>Add</span>
                    <% end %>
                    <%= link_to toolbox_tool_path(tool), remote: true, method: :delete, class: 'remove group' do %>
                        <div class="action-icon white-toolbox"></div>
                        <span>Remove</span>
                    <% end %>
                    <div class="loading">
                        <div class="action-icon white-toolbox"></div>
                        <div class="loader"></div>
                    </div>
                <% else %>
                    <%= link_to signup_path, class: 'join group' do %>
                        <div class="action-icon white-toolbox"></div>
                        <span>Add</span>
                    <% end %>
                <% end %>
            </div>

            <ul class="bubble platforms">
                <% tool.platforms.each do |platform| %>
                    <li>
                            <div class="action-icon <%= platform.name.parameterize %>" itemprop="operatingSystem"><%= link_to platform.name, tools_path(params: {platform: platform.id}) %></div>
                    </li>
                <% end %>
            </ul>
        </div>
    </div>
</li>
