<% path ||= article_path(article.slug) %>
<% has_article = current_user ? current_user.articles.exists?(article.id) : nil %>

<li class="article <% article.categories.each do |c| %> <%= c.title.parameterize %> <% end %> <%= 'unpublished' unless article.published %> <%= 'featured' if article.featured %>" itemscope itemtype="http://schema.org/BlogPosting">
	<div class="banner">
		<%= link_to path do %>
			<% if article.featured %>
				<%= image_tag article.square_banner, itemprop: 'image' %>
				<%= image_tag article.desat_square_banner, class: 'desat' %>
			<% else %>
				<%= image_tag article.banner, itemprop: 'image' %>
				<%= image_tag article.desat_banner, class: 'desat' %>
			<% end %>
		<% end %>
	</div>
	<div class="meta group">
		<div class="top">
			<h3 itemprop="headline"><%= link_to article.title, path, itemprop: 'url' %></h3>
			<ul class="categories group" itemprop="keywords">
				<% article.categories.each do |category| %>
					<li><%= link_to category.title, articles_path(params: {category_ids: [category.id]}) %></li>
				<% end %>
			</ul>

			<% if article.featured %>
				<div class="description"><%= truncate_html(article.body, length: 260) %></div>
			<% end %>
		</div>
		<div class="bottom">
			<div class="bubble add-article <%= current_user ? (has_article ? 'remove' : 'add') : 'join' %>">
				<a href="#" class="default">
					<div class="action-icon star"></div>
					<span class="users-count"><%= article.users_count %></span>
				</a>

				<% if current_user %>
					<%= link_to toolbox_articles_path(article: article.id), remote: true, method: :post, class: 'add group' do %>
						<div class="action-icon white-star"></div>
						<span>Add</span>
					<% end %>
					<%= link_to toolbox_article_path(article), remote: true, method: :delete, class: 'remove group' do %>
						<div class="action-icon white-star"></div>
						<span>Remove</span>
					<% end %>
					<div class="loading">
						<div class="action-icon white-star"></div>
						<div class="loader"></div>
					</div>
				<% else %>
					<%= link_to signup_path, class: 'join group' do %>
						<div class="action-icon white-star"></div>
						<span>Add</span>
					<% end %>
				<% end %>
			</div>
		</div>
	</div>
</li>