<header class="user group">
	<div class="left">
		<%= image_tag @user.profile_picture.url(:medium) %>
		<%= @user.full_name %>
	</div>
	<div class="right">
		<nav class="social">
			<ul>
				<% unless @user.twitter_username.blank? %><li><%= link_to 'Twitter', @user.twitter_url, class: 'twitter', target: '_blank' %></li><% end %>
				<% unless @user.facebook_username.blank? %><li><%= link_to 'Facebook', @user.facebook_url, class: 'facebook', target: '_blank' %></li><% end %>
				<% unless @user.google_plus_id.blank? %><li><%= link_to 'Google Plus', @user.google_plus_url, class: 'google-plus', target: '_blank' %></li><% end %>
				<% unless @user.linkedin_username.blank? %><li><%= link_to 'Linkedin', @user.linkedin_url, class: 'linkedin', target: '_blank' %></li><% end %>
				<% unless @user.website_url.blank? %><li><%= link_to 'Website', @user.formatted_website_url, class: 'website', target: '_blank' %></li><% end %>
			</ul>
		</nav>
	</div>
</header>