<header class="user group" itemtype="http://schema.org/Person">
	<div class="left group">
		<%= image_tag @user.profile_picture.url(:medium), class: 'img', itemprop: 'image' %>
		<div class="about">
			<h1 itemprop="name"><%= @user.full_name %></h1>
			<p>
				<% if @user.role %><span class="role"><%= @user.role %></span><% end %>
				<% if @user.city_id %><span class="location"><%= @user.city_name %></span><% end %>
			</p>
			<% if @user.categories.size %>
				<ul class="categories">
					<% @user.categories.each do |category| %>
						<li><%= category.title %></li>
					<% end %>
				</ul>
			<% end %>

			<% if @user.website_url %><a href="<%= @user.website_url %>" class="contact-item">
				<p><%= @user.website_url %></a></p>
			<% end %>

			<% unless @user.bio.blank? %><p class="bio" itemprop="description"><%= @user.bio %></p><% end %>

			<% unless @user.hide_email %>
				<p style="margin: 20px 0;">
					<a href="mailto:<%= @user.email %>?subject=The%20Toolbox%20Inquiry" id="emailApptivist" class="button email-apptivist" data-to-name="<%= @user.full_name %>" data-to-email="<%= @user.email %>" data-from-name="<% if current_user %><%= current_user.full_name %><% else %>Non-member<% end %>" data-from-email="<% if current_user %><%= current_user.email %><% else %>n/a<% end %>">
						<%= image_tag("users/email.png") %> Contact <%= @user.first_name %>
					</a>
				</p>
			<% end %>
		</div>
	</div>

	<div class="right group">
		<nav class="social group">
			<ul>
				<% unless @user.twitter_username.blank? %><li><%= link_to 'Twitter', @user.twitter_url, class: 'twitter', target: '_blank' %></li><% end %>
				<% unless @user.facebook_username.blank? %><li><%= link_to 'Facebook', @user.facebook_url, class: 'facebook', target: '_blank' %></li><% end %>
				<% unless @user.google_plus_id.blank? %><li><%= link_to 'Google Plus', @user.google_plus_url, class: 'google-plus', target: '_blank' %></li><% end %>
				<% unless @user.linkedin_username.blank? %><li><%= link_to 'Linkedin', @user.linkedin_url, class: 'linkedin', target: '_blank' %></li><% end %>
				<% unless @user.website_url.blank? %><li><%= link_to 'Website', @user.formatted_website_url, class: 'website', target: '_blank' %></li><% end %>
				<% unless @user.appstore_url.blank? %><li><%= link_to 'Appstore', @user.appstore_url, class: 'appstore', target: '_blank' %></li><% end %>
				<% unless @user.google_play_url.blank? %><li><%= link_to 'Google Play', @user.google_play_url, class: 'google-play', target: '_blank' %></li><% end %>
				<% unless @user.github_username.blank? %><li><%= link_to 'Github', @user.github_url, class: 'github', target: '_blank' %></li><% end %>
			</ul>
		</nav>

		<nav class="toolbox group">
			<%= link_to tools_user_path do %>
				<div class="action-icon large toolbox"></div>
				<span><%= @user.tools_count %></span>
			<% end %>

			<%= link_to articles_user_path do %>
				<div class="action-icon large star"></div>
				<span><%= @user.articles_count %></span>
			<% end %>
		</nav>
	</div>
</header>

<% if current_user && current_user.admin %>
	<p class="toggle-button"><%= link_to 'Toggle apptivist status', apptivist_path(@user.id), remote: true, method: :post %></p>
<% end %>
