<header class="user group" itemtype="http://schema.org/Person">
	<div class="left group">
		<%= image_tag @user.profile_picture.url(:medium), itemprop: 'image' %>
		<div class="about">
			<h1 itemprop="name"><%= @user.full_name %></h1>
			<% if @user.city_id %><div class="location"><%= @user.city_name %></div><% end %>
			<ul class="categories">
				<% @user.categories.each do |category| %>
					<li><%= category.title %></li>
				<% end %>
			</ul>

			<% unless @user.bio.blank? %><p class="bio" itemprop="description"><%= @user.bio %></p><% end %>
		</div>
	</div>

	<div class="right group">
		<nav class="social group">
			<ul>
				<% unless @user.twitter_username.blank? %><li><%= link_to 'Twitter', @user.twitter_url, class: 'twitter', target: '_blank' %></li><% end %>
				<% unless @user.facebook_username.blank? %><li><%= link_to 'Facebook', @user.facebook_url, class: 'facebook', target: '_blank' %></li><% end %>
				<% unless @user.google_plus_id.blank? %><li><%= link_to 'Google Plus', @user.google_plus_url, class: 'google-plus', target: '_blank' %></li><% end %>
				<% unless @user.linkedin_username.blank? %><li><%= link_to 'Linkedin', @user.linkedin_url, class: 'linkedin', target: '_blank' %></li><% end %>
				<% unless @user.website_url.blank? %><li><%= link_to 'Website', @user.formatted_website_url, class: 'website', target: '_blank' %></li><% end %>
			</ul>
		</nav>

		<nav class="toolbox group">
			<%= link_to tools_user_path do %>
				<div class="action-icon large toolbox"></div>
				<span><%= @user.tools_count %></span>
			<% end %>

			<%= link_to articles_user_path do %>
				<div class="action-icon large star"></div>
				<span><%= @user.articles_count %></span>
			<% end %>
		</nav>
	</div>
</header>