<%= form_for @organization, url: { action: 'create' }, method: 'post' do |f| %>
	<% if @organization.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@organization.errors.count, "error") %> prohibited this organization from being saved:</h2>

			<ul>
			<% @organization.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
			</ul>
		</div>
	<% end %>

	<%= hidden_field_tag :user_type, 'organization' %>

	<div class="field inline">
		<%= f.label :name, "Organization Name" %>
		<%= f.text_field :name %>
	</div>
	<div class="field inline">
		<%= f.label :sector, "Sector" %>
		<%= select("organization", "sector", Organization.sectors_for_select) %>
	</div>
	<div class="field full">
		<%= f.label :email, "Email" %>
		<%= f.text_field :email %>
	</div>
	<div class="field inline">
		<%= f.label :password, "Password" %>
		<%= f.password_field :password %>
	</div>
	<div class="field inline">
		<%= f.label :password_confirmation, "Password Again" %>
		<%= f.password_field :password_confirmation %>
	</div>

	<%# f.hidden_field :mixpanel_id %>

	<div class="actions">
		<%= f.submit "Sign Up", class: "yellow button inset-text" %>
	</div>
<% end %>
