<%= form_for @person, url: { action: 'create' }, method: 'post' do |f| %>
	<% if @person.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@person.errors.count, "error") %> prohibited this person from being saved:</h2>

			<ul>
			<% @person.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
			</ul>
		</div>
	<% end %>

	<%= hidden_field_tag :user_type, 'person' %>

	<div class="field inline">
		<%= f.label :name, "First Name" %>
		<%= f.text_field :name %>
	</div>
	<div class="field inline last">
		<%= f.label :surname, "Last Name" %>
		<%= f.text_field :surname %>
	</div>
	<div class="field full">
		<%= f.label :email, "Email" %>
		<%= f.text_field :email %>
	</div>
	<div class="field inline">
		<%= f.label :password, "Password" %>
		<%= f.password_field :password %>
	</div>
	<div class="field inline last">
		<%= f.label :password_confirmation, "Password Again" %>
		<%= f.password_field :password_confirmation %>
	</div>

	<%# f.hidden_field :mixpanel_id %>

	<div class="actions">
		<%= f.submit "Sign Up", class: "submit button" %>
	</div>
<% end %>
