<% @editing_password ||= false %>
<h1 class="strike"><span>Settings</span></h1>

<%= render 'shared/flashes' %>

<div class="settings-container">
	<%= form_for current_user, url: { action: 'update' }, method: 'put' do |f| %>
		<% if current_user.errors.any? %>
			<div id="error_explanation">
				<ul>
					<% current_user.errors.full_messages.each do |msg| %>
						<li><%= msg %></li>
					<% end %>
				</ul>
			</div>
		<% end %>

		<div class="top group">
			<div class="field inline">
				<%= f.label :first_name, "First Name" %>
				<%= f.text_field :first_name %>
			</div>
			<div class="field inline last">
				<%= f.label :last_name, "Last Name" %>
				<%= f.text_field :last_name %>
			</div>
			<div class="field inline">
				<%= f.label :email, "Email" %>
				<%= f.text_field :email %>
			</div>
			<div class="field inline last">
				<label for="subscribed_to_newsletter">Receive The Toolbox Newsletter</label>

				<div class="slider-checkbox">
					<%= check_box_tag 'subscribed_to_newsletter', 'yes', @subscribed_to_newsletter %>
					<div class="slider group">
						<span class="on">Yes</span>
						<div class="selected-item"></div>
						<span class="off">No</span>
					</div>
				</div>
			</div>
			<div class="field username">
				<%= f.label :username %>
				<%= f.text_field :username %>
			</div>

			<% if current_user.needs_password_set %>
				<div class="set-password-container">
					<%= link_to "Set a Password", password_resets_create_path(params: {email: current_user.email}), class: 'button group' %>
					<p>Setting a password will allow you to log in to The Toolbox directly without using your Facebook account.</p>
				</div>
			<% else %>
				<% unless @editing_password %>
					<button id="change-password-trigger">Change Password</button>
				<% end %>

				<div class="change-password-container <%= 'editing-password' if @editing_password %>">
					<div class="field inline">
						<%= label_tag :current_password, "Current Password" %>
						<%= password_field_tag :current_password, nil, disabled: !@editing_password %>
					</div>
					<div class="field inline last"></div>

					<div class="field inline">
						<%= f.label :password, "New Password" %>
						<%= f.password_field :password, disabled: !@editing_password %>
					</div>
					<div class="field inline last">
						<%= f.label :password_confirmation, "New Password Again" %>
						<%= f.password_field :password_confirmation, disabled: !@editing_password %>
					</div>
				</div>
			<% end %>
		</div>

		<div class="bottom group">
			<div class="left">
				<div class="field full">
					<label for="city-picker">Location</label>
					<%= f.hidden_field :city_id %>
					<input type="text" id="city-picker" value="<%= current_user.city_name %>" placeholder="Search by city…">
				</div>

				<div class="field full">
					<%= f.label :category_ids, "Interests" %>
					<%= f.collection_select :category_ids, Category.order(:title), :id, :title, {}, {multiple: true, class: 'chosen'} %>
				</div>

				<div class="field full">
					<%= f.label :bio %>

					<% if current_user.bio.nil? %>
						<span id="bio-counter">1000</span>
					<% else %>
						<span id="bio-counter" class="<%= 'invalid' if current_user.bio.length > 1000 %>"><%= 1000 - current_user.bio.length %></span>
					<% end %>
					<%= f.text_area :bio %>
				</div>

				<div class="field inline">
					<%= f.label :facebook_username %>
					<%= f.text_field :facebook_username %>
				</div>
				<div class="field inline last">
					<%= f.label :twitter_username %>
					<%= f.text_field :twitter_username %>
				</div>

				<div class="field inline">
					<%= f.label :google_plus_id, "Google+ ID" %>
					<%= f.text_field :google_plus_id %>
				</div>
				<div class="field inline last">
					<%= f.label :linkedin_username %>
					<%= f.text_field :linkedin_username %>
				</div>

				<div class="field inline ">
					<%= f.label :website_url %>
					<%= f.text_field :website_url %>
				</div>

				<div class="field inline last">
					<%= f.label :appstore_url %>
					<%= f.text_field :appstore_url %>
				</div>

				<div class="field inline">
					<%= f.label :google_play_url %>
					<%= f.text_field :google_play_url %>
				</div>

				<div class="field inline last">
					<%= f.label :github_username %>
					<%= f.text_field :github_username %>
				</div>

				<div class="field inline">
					<%= f.label :hide_email %>
					<%= f.check_box :hide_email %>
				</div>
			</div>

			<div class="right">
				<div class="field profile-picture">
					<%= f.label :profile_picture %>

					<div class="profile-picture-inner">
						<div class="inside">
							<%= f.file_field :profile_picture %>
							<%= if current_user.profile_picture.exists? then image_tag current_user.profile_picture.url(:medium) end %>
							<button><span>Browse</span></button>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="actions group">
			<%= f.submit "Save", class: "submit button" %>
			<%= link_to "Delete Account", delete_user_path, class: 'delete', method: :delete, confirm: "Are you sure you want to permanently delete your Toolbox account?" %>
		</div>
	<% end %>
</div>
