<%= render 'header' %>

<% if current_user.admin %>
	<p><%= link_to 'Toggle apptivist status', apptivist_path(@user.id), remote: true, method: :post %></p>
<% end %>

<% if @user.apptivist %>
	<h2 class="strike">
		<span><%= @user.first_name %>'s Content</span>
		<menu>
			<li><%= link_to 'Tools', tools_user_path %></li>
			<li><%= link_to 'Articles', articles_user_path %></li>
			<li><%= link_to 'Featured', articles_user_path, class: 'current' %></li>
		</menu>
	</h2>

	<ul class="items">
		<% @features.each do |article| %>
			<%= render 'articles/article', article: article %>
		<% end %>
	</ul>
<% end %>

<h2 class="strike">
	<span><%= @user.first_name %>'s Toolbox</span>
	<menu>
		<li><%= link_to 'Tools', tools_user_path %></li>
		<li><%= link_to 'Articles', articles_user_path, class: 'current' %></li>
	</menu>
</h2>

<ul class="articles items">
	<% @articles.each do |article| %>
		<%= render 'articles/article', article: article %>
	<% end %>
</ul>

<div id="infinite-indicator" class="group"></div>
<%= paginate @articles %>
