<% categories = Category.all %>

<% docked ||= false %>
<% type ||= 'tools' %>

<menu id="filter" class="<%= type %> <%= 'docked' if docked %>">
	<form action="<%= "/" + controller_path.split('/').first if controller_path.split('/').first != controller.controller_name %>/<%= type %>">
		<select name="category_ids[]" class="category-select" multiple>
			<% categories.each do |category| %>
				<% selected = params[:category_ids] && params[:category_ids].include?(category.id.to_s) %>
				<option value="<%= category.id %>" <%= 'selected' if selected %>><%= category.title %></option>
			<% end %>
		</select>

		<ul class="category-icons">
			<% categories.each do |category| %>
				<% active = params[:category_ids] && params[:category_ids].include?(category.id.to_s) %>
				<li>
					<a data-category-id="<%= category.id %>" class="<%= category.title.parameterize %> <%= 'active' if active %>"><%= category.title %></a>
					<span class="tooltip"><%= category.title %> (<%= category.tools.count %>)</span>
				</li>
			<% end %>
		</ul>

		<input name="keyword" class="keyword" value="<%= params[:keyword] %>" placeholder="Search…" autocomplete="off">

		<input id="filter-search" type="submit" value="Search">

		<button id="filter-trigger"></button>

		<% if type == 'tools' %>
			<select name="platform" class="fancy-platform">
				<option value=" ">All Devices</option>
				<% Platform.all.each do |platform| %>
					<option <%= 'selected' if params[:platform] == platform.id.to_s %> value="<%= platform.id %>"><%= platform.name %></option>
				<% end %>
			</select>
		<% end %>

		<select name="order" class="fancy-order">
			<% @orders.each do |order, val| %>
				<option <%= 'selected' if params[:order] == order %>><%= order %></option>
			<% end %>
		</select>
	</form>
</menu>