<% categories = Category.all %>

<% docked ||= false %>
<% type ||= 'tools' %>

<menu id="filter" class="<%= type %> <%= 'docked' if docked %>">
	<form action="">
		<select name="category_ids[]" class="category-select" multiple>
			<% categories.each do |category| %>
				<% selected = params[:category_ids] && params[:category_ids].include?(category.id.to_s) %>
				<option value="<%= category.id %>" <%= 'selected' if selected %>><%= category.title %></option>
			<% end %>
		</select>

		<ul class="category-icons">
			<% categories.each do |category| %>
				<% active = params[:category_ids] && params[:category_ids].include?(category.id.to_s) %>
				<li><a data-category-id="<%= category.id %>" class="<%= category.title.parameterize %> <%= 'active' if active %>"><%= category.title %></a></li>
			<% end %>
		</ul>

		<input name="keyword" class="keyword" value="<%= params[:keyword] %>" placeholder="Filter by keyword">

		<% if type == 'tools' %>
			<div class="select-container platform">
				<select name="platform">
					<option value="">All Devices</option>
					<% Platform.all.each do |platform| %>
						<option <%= 'selected' if params[:platform] == platform.id.to_s %> value="<%= platform.id %>"><%= platform.name %></option>
					<% end %>
				</select>

				<div class="trigger"></div>
			</div>
		<% end %>

		<div class="select-container order">
			<select name="order">
				<% @orders.each do |order, val| %>
					<option <%= 'selected' if params[:order] == order %>><%= order %></option>
				<% end %>
			</select>

			<div class="trigger"></div>
		</div>
	</form>
</menu>