<header id="top" class="<%= 'filter-docked' if @filter_docked %> <%= 'toolbar-docked' if @toolbar_docked %>">
	<div class="inner group">
		<h6><%= link_to 'The Toolbox', root_path %></h6>

		<button id="header-nav-trigger">Open Nav</button>

		<nav>
			<ul>
				<li><%= link_to 'Tools', tools_path, class: cp(tools_path) %></li>
				<li><%= link_to 'Articles', articles_path, class: cp(articles_path) %></li>
				<li><%= link_to 'About', about_path, class: cp(about_path) %></li>
				<% if current_user %>
					<% if current_user.admin %>
						<li><%= link_to 'Admin', admin_tools_path, class: cp(admin_path) %></li>
					<% end %>
					<li class="profile">
						<a href="#" id="user-nav-trigger" data-name="<%= current_user.full_name %>"><%= image_tag current_user.profile_picture.url(:thumb) %></a>

						<nav id="user-nav">
							<ul>
								<li><%= link_to 'Profile', user_path(current_user) %></li>
								<li><%= link_to 'Settings', edit_user_path %></li>
								<li><%= link_to 'Log Out', logout_path %></li>
							</ul>
						</nav>
					</li>
				<% else %>
					<li><%= link_to 'Log In', login_path, class: cp(login_path) %></li>
					<li><%= link_to 'Log In With Facebook', '/auth/facebook', class: 'fb-login' %></li>
				<% end %>
			</ul>
		</nav>
	</div>
</header>