<% if current_user && current_user.tools_count == 0 %>
	<div id="explore-billboard">
		<div class="inner group">
			<h3>Start exploring tools that interest you…</h3>

			<menu class="large category-icons">
				<% @categories.each do |category| %>
					<li>
						<%= link_to tools_path(params: {category_ids: [category.id]}), class: category.title.parameterize do %>
							<h4 class="din med"><%= category.title %></h4>
						<% end %>
					</li>
				<% end %>
			</menu>
		</div>
	</div>
<% elsif !current_user %>
	<div id="billboard">
		<div class="inner">
			<div class="group left">
				<h1 class="logo sprite">The Toolbox</h1>
				<h3>Fill your toolbox with the tools you really need</h3>
			</div>
			<ul class="features group">
				<li>
					<div class="sprite discover">Discover</div>
					<h4 class="din med">Discover</h4>
					<p class="description">The best new apps and tools for your toolbox</p>
				</li>
				<li>
					<div class="sprite curate">Curate</div>
					<h4 class="din med">Curate</h4>
					<p class="description">Save your favorite tools so they’re always close</p>
				</li>
				<li>
					<div class="sprite share">Share</div>
					<h4 class="din med">Share</h4>
					<p class="description">Tell the people that need to know in your network</p>
				</li>
			</ul>

			<h3 class="discover">Discover the tools that can change your life and the world</h3>
		</div>
	</div>
	<%= render 'shared/signup_cta' %>
<% end %>

<%= render 'shared/flashes' %>

<div class="main">
	<div class="inner group">
		<h2 class="strike">
			<span>Newest Articles</span>
			<menu class="gray category-icons">
				<% @categories.each do |category| %>
					<li><%= link_to category.title, articles_path(params: {category_ids: [category.id]}), class: category.title.parameterize %></li>
				<% end %>
			</menu>
		</h2>
		<ul class="items articles">
			<% @articles.each do |article| %>
				<%= render 'articles/article', article: article %>
			<% end %>
		</ul>
	</div>
	<div class="fade"></div>
	<%= link_to "See All Articles", articles_path, class: 'see-all button' %>

	<div class="inner group">
		<h2 class="strike">
			<span>Featured Tools</span>
			<menu class="gray category-icons">
				<% @categories.each do |category| %>
					<li><%= link_to category.title, tools_path(params: {category_ids: [category.id]}), class: category.title.parameterize %></li>
				<% end %>
			</menu>
		</h2>
		<ul class="items">
			<% @tools.each do |tool| %>
				<%= render 'tools/tool', tool: tool %>
			<% end %>
		</ul>
	</div>
	<div class="fade"></div>
	<%= link_to "See All Tools", tools_path, class: 'see-all button' %>
</div>