<% if current_user && current_user.tools_count == 0 %>
	<div id="explore-billboard">
		<div class="inner group">
			<h3>Start exploring tools that interest you…</h3>

			<menu class="large category-icons">
				<% @categories.each do |category| %>
					<li>
						<%= link_to tools_path(params: {category_ids: [category.id]}), class: category.title.parameterize do %>
							<h4 class="din med"><%= category.title %></h4>
						<% end %>
					</li>
				<% end %>
			</menu>
		</div>
	</div>
<% elsif !current_user %>
	<div id="billboard">
		<div class="inner">
			<div class="group left">
				<h1 class="logo sprite">The Toolbox</h1>
				<h3>A new platform for tools aiding social change</h3>
			</div>
			<ul class="features group">
				<li>
					<div class="sprite discover">Discover</div>
					<h4 class="din med">Discover</h4>
					<p class="description">The best new apps and tools for your toolbox</p>
				</li>
				<li>
					<div class="sprite curate">Curate</div>
					<h4 class="din med">Curate</h4>
					<p class="description">Save your favorite tools so they’re always close</p>
				</li>
				<li>
					<div class="sprite share">Share</div>
					<h4 class="din med">Share</h4>
					<p class="description">Tell the people that need to know in your network</p>
				</li>
			</ul>

			<h3 class="discover">Discover the tools that can change your life and the world</h3>
		</div>
	</div>
	<%= render 'shared/signup_cta' %>
<% end %>

<%= render 'shared/flashes' %>

<div class="main">
	<div class="inner group">
		<h2 class="strike">
			<span>Recent Articles &amp; Tools</span>
		</h2>
	</div>
	<div id="atf" class="inner group">
		<menu class="gray category-icons">
			<% @categories.each do |category| %>
				<li>
					<%= link_to category.title, articles_path(params: {category_ids: [category.id]}), class: category.title.parameterize, :data => { :category => category.title.parameterize } %>
					<span class="tooltip"><%= category.title %></span>
				</li>
			<% end %>
		</menu>
		<%= render 'shared/global_search' %>
	</div>
	<div class="inner group">
		<ul class="items articles">
			<% @tools_and_articles.each do |item| %>
				<% if item.is_a? Tool %>
					<%= render 'tools/tool', tool: item %>
				<% else %>
					<%= render 'articles/article', article: item %>
				<% end %>
			<% end %>
		</ul>
	</div>
	<div class="fade"></div>
	<div class="actions group inner">
		<%= link_to "See All Tools", tools_path, class: 'see-all button' %>
		<%= link_to "See All Articles", articles_path, class: 'see-all button' %>
	</div>
</div>