<%= form_for [:admin, @tool] do |f| %>
	<% if @tool.errors.any? %>
		<div id="error_explanation">
			<ul>
				<% @tool.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<div class="left group">
		<div class="field full">
			<%= f.label :name %>
			<%= f.text_field :name %>
		</div>

		<div class="field full">
			<%= f.label :category_ids, "Categories" %>
			<%= f.collection_select :category_ids, Category.order(:title), :id, :title, {}, {multiple: true, class: 'chosen'} %>
		</div>

		<div class="field full">
			<%= f.label :platform_ids, "Platforms" %>
			<%= f.collection_select :platform_ids, Platform.order(:name), :id, :name, {}, {multiple: true, class: 'chosen'} %>
		</div>

		<div class="field inline check">
			<%= f.label :featured %>
			<div class="slider-checkbox">
				<%= f.check_box :featured %>
				<div class="slider group">
					<span class="on">Yes</span>
					<div class="selected-item"></div>
					<span class="off">No</span>
				</div>
			</div>
		</div>

		<div class="field inline tiny">
			<%= f.label :cost %>
			<%= f.text_field :cost %>
		</div>

		<div class="field inline last">
			<%= f.label :license_id %>
			<%= f.collection_select :license_id, License.all, :id, :name, {}, {class: 'chosen'} %>
		</div>

		<div class="field full">
			<%= f.label :description %>
			<%= f.text_area :description %>
		</div>

		<div class="field inline">
			<%= f.label :site_url %>
			<%= f.text_field :site_url %>
		</div>

		<div class="field inline last">
			<%= f.label :app_store_url %>
			<%= f.text_field :app_store_url %>
		</div>

		<div class="field inline">
			<%= f.label :google_play_url %>
			<%= f.text_field :google_play_url %>
		</div>

		<div class="field inline last">
			<%= f.label :github_url %>
			<%= f.text_field :github_url %>
		</div>

		<div class="field inline">
			<%= f.label :facebook_url %>
			<%= f.text_field :facebook_url %>
		</div>

		<div class="field inline last">
			<%= f.label :twitter_url %>
			<%= f.text_field :twitter_url %>
		</div>
	</div>

	<div class="right group">
		<div class="field icon">
			<%= f.label :icon %>

			<div class="icon-inner">
				<div class="inside">
					<%= f.file_field :icon %>
					<%= if @tool.icon.exists? then image_tag @tool.icon.url(:small) end %>
					<button><span>Browse</span></button>
				</div>
			</div>
		</div>

		<div class="field screens">
			<label>
				Screenshots

				<%= link_to_add_fields "Add", f, :screens %>
			</label>

			<div class="screens-inner">
				<ul>
					<%= f.fields_for :screens do |builder| %>
						<%= render 'screen_fields', f: builder %>
					<% end %>
				</ul>
			</div>
		</div>
	</div>

	<div class="actions group">
		<%= f.submit @tool.new_record? ? "Add Tool" : "Update Tool", class: "submit button" %>
		<%= link_to "View Tool", tool_path(@tool), class: 'view button' unless @tool.new_record? %>
		<%= link_to "Delete Tool", admin_tool_path(@tool), class: 'delete', method: :delete, confirm: "Are you sure you want to permanently delete #{@tool.name}?" unless @tool.new_record? %>
	</div>
<% end %>
