<%= render 'admin/header' %>
<%= render 'shared/filter' %>

<ul class="items">
	<li class="link">
		<%= link_to new_admin_tool_path do %><span>Add Tool</span><% end %>
	</li>

	<% @tools.each do |tool| %>
		<%= render 'tools/tool', tool: tool, path: edit_admin_tool_path(tool) %>
	<% end %>
</ul>

<div id="infinite-indicator" class="group"></div>
<%= paginate @tools %>