<div id="billboard" class="billboardish">
	<div class="inner">
		<h2 class="din med nudge-left">About The Toolbox</h2>

		<div class="left">
			<p>"We now own more mobile phones than toothbrushes and they are transforming the world we live in, more profoundly and with more speed than anything else we have ever devised.</p>

			<p>Every sphere of human activity is being turned upside down as choice and control fall directly into our hands. This technology is at the same time both deeply democratising and disruptive. It connects us to each other, to unlimited information, to experience and wisdom, in ways never before possible - and to a whole new set of empowering tools.</p>
		</div>

		<div class="right">
			<p>We have to understand how fundamental this change is and make sure that the best designed and most useful tools for each user can easily be found and accessed, especially by the most disadvantaged and those most at&nbsp;risk.</p>

			<p>That is why we need theToolbox.org to assemble, curate and create the tools with which to transform our lives and the world we live in.”</p>

			<p>– Peter Gabriel</p>
		</div>
	</div>
</div>
<%= render 'shared/signup_cta' unless current_user %>

<div class="inner group top-section">
	<div class="how">
		<h2 class="strike center"><span>Take Action!</span></h2>

		<p>Join us in mobilizing this platform where citizen activists (i.e. you) can be deeply engaged in a range of issues and events across the globe. This virtual space provide's easy access to the most useful information and tools for social change, as well as clear avenues for you to take meaningful action. </p>

		<p>The Toolbox is actively connecting disparate individuals, cause-fueled missions, organizations, and networks into a powerful global community of advocates working together to have a positive impact on the world. Join us in the crusade, and make your digital footprint count!</p>
	</div>

	<div class="useful-toolbox">
		<h2 class="strike center"><span>A Toolbox For Good</span></h2>

		<ul>
			<li>
				<div class="about-sprite discover"></div>
				<h5 class="din med">Discover</h5>
			</li>
			<li>
				<div class="about-sprite curate"></div>
				<h5 class="din med">Curate</h5>
			</li>
			<li>
				<div class="about-sprite share"></div>
				<h5 class="din med">Share</h5>
			</li>
		</ul>
	</div>
</div>

<div class="inner the-team">
	<h2 class="strike center"><span>The Team</span></h2>

	<ul class="group">
		<li>
			<%= team_maybe_link 'Peter', 'Gabriel' do %>
				<div class="person peter-gabriel"></div>
				<h3 class="din med">Peter Gabriel</h3>
				<h4 class="title">Co-founder &amp; Chairman</h4>
			<% end %>
		</li>

		<li>
			<%= team_maybe_link 'Melissa', 'Jun Rowley' do %>
				<div class="person melissa-jun-rowley"></div>
				<h3 class="din med">Melissa Jun Rowley</h3>
				<h4 class="title">Co-founder &amp; CEO</h4>
			<% end %>
		</li>

		<li>
			<%= team_maybe_link 'Mitzy', 'Bautista' do %>
				<div class="person mitzy-bautista"></div>
				<h3 class="din med">Mitzy Bautista</h3>
				<h4 class="title">Program Director</h4>
			<% end %>
		</li>
	</ul>

	<ul class="group">
		<li>
			<%= team_maybe_link 'Alisha', 'Golden' do %>
				<div class="person alisha-golden"></div>
				<h3 class="din med">Alisha Golden</h3>
				<h4 class="title">Director of Communications</h4>
			<% end %>
		</li>

		<li>
			<%= team_maybe_link 'Ruthie', 'Ackerman' do %>
				<div class="person ruthie"></div>
				<h3 class="din med">Ruthie Ackerman</h3>
				<h4 class="title">Contributing Writer</h4>
			<% end %>
		</li>

		<li>
			<%= team_maybe_link 'Bryan', 'Nunez' do %>
				<div class="person bryan-nunez"></div>
				<h3 class="din med">Bryan Nunez</h3>
				<h4 class="title">Contributing Writer</h4>
			<% end %>
		</li>
	</ul>

	<ul class="group">
		<li>
			<%= team_maybe_link 'Alexandra', 'Ostrow Beach' do %>
				<div class="person alexandra"></div>
				<h3 class="din med">Alexandra Ostrow Beach</h3>
				<h4 class="title">Contributing Writer</h4>
			<% end %>
		</li>
	</ul>
</div>

<div class="inner advisors">
	<h2 class="strike center"><span>Advisors</span></h2>

	<ul class="group">
		<li>
			<%= team_maybe_link 'Wendy', 'Levy' do %>
				<div class="person wendy-levy"></div>
				<h3 class="din med">Wendy Levy</h3>
				<h4 class="title">New Arts Axis</h4>
			<% end %>
		</li>

		<li>
			<%= team_maybe_link 'Yvette', 'Alberdingk-Thijm' do %>
				<div class="person yvette-alberdingk-thijm"></div>
				<h3 class="din med">Yvette Alberdingk-Thijm</h3>
				<h4 class="title">Executive Director of WITNESS</h4>
			<% end %>
		</li>

		<li>
			<%= team_maybe_link 'Alejandro', 'De Onis' do %>
				<div class="person alejandro-de-onis"></div>
				<h3 class="din med">Alejandro de Onís</h3>
				<h4 class="title">Director of Digital Strategy, Knight Foundation</h4>
			<% end %>
		</li>
	</ul>

	<ul class="group">
		<li>
			<%= team_maybe_link 'William', 'Hoffman' do %>
				<div class="person william-hoffman"></div>
				<h3 class="din med">William Hoffman</h3>
				<h4 class="title">Head of Data Driven Development, World Economic Forum</h4>
			<% end %>
		</li>
		<li>
			<%= team_maybe_link 'Amanda', 'Noonen' do %>
				<div class="person amanda-noonen"></div>
				<h3 class="din med">Amanda Noonen</h3>
				<h4 class="title">Senior Director of Research, Design and Innovation, Internews Network</h4>
			<% end %>
		</li>
	</ul>
</div>

<div class="inner the-organization">
	<h2 class="strike center"><span>The Organization</span></h2>

	<ul class="group">
		<li>
			<a target="_blank" href="http://skylight.is">
				<div class="about-sprite skylight"></div>
				<h5 class="din med">Skylight Digital</h5>
			</a>
		</li>
		<li>
			<a target="_blank" href="https://maps.google.com/maps?q=33+Flatbush+Ave.,Brooklyn,+NY+11217">
				<div class="about-sprite location"></div>
				<h5 class="din med">Location</h5>
			</a>
		</li>
		<li>
			<%= link_to contact_path do %>
				<div class="about-sprite contact"></div>
				<h5 class="din med">Contact Us</h5>
			<% end %>
		</li>
	</ul>
</div>

<div id="acknowledgement" class="billboardish">
	<div class="inner">
		<h2 class="din med nudge-left">Acknowledgement</h2>

		<div class="left">
			<p>Growing up in the sixties and seventies I was very attracted to the counterculture that emerged at that&nbsp;time.</p>

			<p>That was the first time when we could see what our planet looked like from space and the first time that young people around the world felt they were part of a global movement that was more important and more theirs, than their own nations.</p>
		</div>

		<div class="right">
			<p>The movement spawned many visionaries but it was the Whole Earth team under the guidance of Stewart Brand and later Kevin Kelly (still curating his CoolTools site) that really emphasized the importance of “ Access to Tools ”. This, along with an obvious need, provided the inspiration for this project.</p>

			<p>– Peter Gabriel</p>
		</div>
	</div>
</div>
