<%= render 'shared/flashes' %>
<%= form_for [:admin, @user] do |f| %>
    <% if @user.errors.any? %>
        <div id="error_explanation">
            <ul>
                <% @user.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div class="left group">
        <div class="field full">
            <%= f.label :email %>
            <%= f.text_field :email %>
        </div>

        <div class="field full">
            <%= f.label :category_ids, "Categories" %>
            <%= f.collection_select :category_ids, Category.order(:title), :id, :title, {}, {multiple: true, class: 'chosen'} %>
        </div>

        <div class="field full">
            <%= f.label :bio %>
            <%= f.text_area :bio %>
        </div>

        <div class="field inline">
            <%= f.label :website_url %>
            <%= f.text_field :website_url %>
        </div>

        <div class="field inline last">
            <%= f.label :facebook_username %>
            <%= f.text_field :facebook_username %>
        </div>

        <div class="field inline">
            <%= f.label :twitter_username %>
            <%= f.text_field :twitter_username %>
        </div>

        <div class="field inline last">
            <%= f.label :appstore_url %>
            <%= f.text_field :appstore_url %>
        </div>

        <div class="field inline">
            <%= f.label :google_play_url %>
            <%= f.text_field :google_play_url %>
        </div>

        <div class="field inline last">
            <%= f.label :github_username %>
            <%= f.text_field :github_username %>
        </div>

        <div class="field full">
            <label for="city-picker">Location</label>
            <%= f.hidden_field :city_id %>
            <input type="text" id="city-picker" value="<%= current_user.city_name %>" placeholder="Search by city…">
        </div>

        <div class="field inline">
            <%= f.label :featured %>
            <%= f.check_box :featured %>
        </div>
    </div>

    <div class="right group">
        <div class="field full role-dropdown">
            <%= f.label :role, "Role" %>
            <%= f.select :role, ["", "Developer", "Designer", "Founder"], {}, { prompt: '- select -', class: 'chosen' } %>
        </div>

        <div class="field full">
            <%= f.label :owned_tool_ids, "Tools" %>
            <%= f.collection_select :owned_tool_ids, Tool.order(:name), :id, :name, {}, {multiple: true, class: 'chosen'} %>
        </div>
    </div>


    <div class="actions group">
        <%= f.submit @user.new_record? ? "Add Apptivist" : "Update Apptivist", class: "submit button" %>
        <%= link_to "View Apptivist", user_path(@user), class: 'view button' unless @user.new_record? %>
    </div>
<% end %>
