<%= render 'admin/header' %>
<%= render 'shared/flashes' %>
<%= render 'shared/filter', type: 'users' %>

<ul class="user-list">
    <% @users.each do |user| %>
        <li class="user-block<% if user.apptivist %> is-apptivist<% end %>">
            <%= link_to apptivist_path(user.id), remote: true, method: :post, class: 'toggleApptivist' do %>
                <%= image_tag user.profile_pic, class: 'person' %>
                <h3 class="din med"><%= user.first_name %> <%= user.last_name %></h3>
                <% if user.role %><h4 class="title"><%= user.role %></h4><% end %>
            <% end %>
            <%= link_to edit_admin_user_path(user.id), class: 'btn-settings' do %>
                <%= image_tag("icon-settings.png", size: "20x20") %>
            <% end %>
        </li>
    <% end %>
</ul>

<div id="infinite-indicator" class="group"></div>
