<!doctype html>
<html class="<%= "#{@os} #{@browser} #{controller_path.split('/').first} #{controller.controller_name} #{controller.action_name}"%>">
	<head>
		<title>The Toolbox</title>
		<%= stylesheet_link_tag "application", :media => "all" %>
		<%= javascript_include_tag "admin" %>
		<%= javascript_include_tag "shared" %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<div class="wrap-outer">
			<div class="wrap-inner">
				<header id="top">
					<div class="inner">
						<h6><%= link_to 'The Toolbox', root_path %></h6>

						<nav>
							<ul>
								<li><%= link_to 'Tools', tools_path, class: cp(tools_path) %></li>
								<li><%= link_to 'Articles', articles_path, class: cp(articles_path) %></li>
								<li><%= link_to 'About', about_path, class: cp(about_path) %></li>
								<% if current_user %>
									<% if current_user.admin %>
										<li><%= link_to 'Admin', admin_tools_path, class: cp(admin_tools_path) %></li>
									<% end %>
									<li><a href="#">P</a></li>
									<li><a href="#">G</a></li>
								<% else %>
									<li><%= link_to 'Login', login_path, class: cp(login_path) %></li>
								<% end %>
							</ul>
						</nav>
					</div>
				</header>

				<div class="inner">
					<h1 class="strike">
						<span><%= @page_header || controller.controller_name %></span>
						<menu>
							<li><%= link_to 'Tools', admin_tools_path, class: cp(admin_tools_path) %></li>
							<!-- <li><%= link_to 'Community', admin_community_index_path, class: cp(admin_community_index_path) %></li> -->
							<li><%= link_to 'Articles', admin_articles_path, class: cp(admin_articles_path) %></li>
						</menu>
					</h1>
					<%= yield %>
				</div>
			</div>
		</div>

		<footer id="bottom">
			<div class="inner">
				<p class="copyright">© Skylight Pictures 2013</p>

				<menu class="social">
					<li><a class="facebook" href="#">Facebook</a></li>
					<li><a class="twitter" href="#">Twitter</a></li>
				</menu>
				<menu class="nav">
					<li><%= link_to "Tools", tools_path, class: cp(tools_path) %></li>
					<li><%= link_to "Articles", articles_path, class: cp(articles_path) %></li>
					<li><%= link_to "Contact", contact_path, class: cp(contact_path) %></li>
					<li><%= link_to "Privacy", privacy_path, class: cp(privacy_path) %></li>
				</menu>
			</div>
		</footer>
	</body>
</html>