<!doctype html>
<html class="<%= "#{@os} #{@browser} #{controller_path.split('/').first if controller_path.split('/').first != controller.controller_name} #{controller.controller_name} #{controller.action_name}"%> <%= 'has-footer' if @has_footer %>">
	<head>
		<title>The Toolbox<%= " #{@title}" if @title %></title>

		<%= stylesheet_link_tag "application", media: "all" %>

		<script>
			<% if ['production', 'staging'].include? Rails.env %>
				//GA
				var _gaq = _gaq || [];
				_gaq.push(['_setAccount', "<%= Settings.gaq %>"]);
				_gaq.push(['_trackPageview']);

				(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
				})();
			<% end %>

			//Mixpanel
			(function(e,b){if(!b.__SV){var a,f,i,g;window.mixpanel=b;a=e.createElement("script");a.type="text/javascript";a.async=!0;a.src=("https:"===e.location.protocol?"https:":"http:")+'//cdn.mxpnl.com/libs/mixpanel-2.2.min.js';f=e.getElementsByTagName("script")[0];f.parentNode.insertBefore(a,f);b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==
			typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2}})(document,window.mixpanel||[]);
			mixpanel.init("<%= Settings.mixpanel_token %>");

			//Disqus + Mixpanel
			function disqus_config() {
				this.callbacks.onNewComment = [function(comment) {
					var eventParams = {'Comment ID': comment.id, 'Comment Text': comment.text};

					if ($('#tool-container').length) {
						eventParams['Tool Name'] = $('#tool-container').find('h1').text();
					} else if ($('article').length) {
						eventParams['Article Name'] = $('article').find('h1').text();
					}

					mixpanel.track('Commented', eventParams)
				}];
			}
		</script>
		<%= javascript_include_tag "application" %>
		<% if current_user %>
			<script>
				window.current_user = <%= current_user.to_json(only: [:first_name, :last_name, :email, :created_at, :last_login, :admin]).html_safe %>

				mixpanel.identify(window.current_user.email);

				mixpanel.register({
					"email": window.current_user.email,
					"joined": window.current_user.created_at,
					"last_login": window.current_user.last_login,
					"first_name": window.current_user.first_name,
					"last_name": window.current_user.last_name
				});
				mixpanel.people.set({
					"$email": window.current_user.email,
					"$created": window.current_user.created_at,
					"$first_name": window.current_user.first_name,
					"$last_name": window.current_user.last_name,
					"Last Login": window.current_user.last_login,
					"Admin": window.current_user.admin
				});
				mixpanel.name_tag(window.current_user.first_name + ' ' + window.current_user.last_name);

				<% if flash[:new_user] %>
					mixpanel.alias(window.current_user.email);
					mixpanel.track('Joined');
				<% end %>
			</script>
		<% end %>

		<link rel="shortcut icon" href="/assets/favicon.png">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width initial-scale=1 maximum-scale=1">
		<%= csrf_meta_tags %>
	</head>
	<body>
		<div class="wrap-outer">
			<div class="wrap-inner group">
				<%= render 'shared/header' %>

				<div class="inner">
					<%= yield %>
				</div>
			</div>
		</div>

		<%= render 'shared/log_in_modal' unless current_user %>
		<%= render 'shared/sign_up_modal' unless current_user %>

		<%= render 'shared/footer' if @has_footer %>
	</body>
</html>