<!doctype html>
<html class="<%= "#{@os} #{@browser} #{controller.controller_name} #{controller.action_name}"%>">
	<head>
		<title>The Toolbox</title>
		<%= stylesheet_link_tag "application", :media => "all" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<div class="wrap-outer">
			<div class="wrap-inner">
				<header id="top">
					<div class="inner">
						<h6><%= link_to 'The Toolbox', root_path %></h6>

						<menu>
							<% if current_user && current_user.admin %>
								<li><%= link_to 'Admin', admin_tools_path, class: cp(admin_tools_path) %></li>
							<% end %>
							<li><%= link_to 'Tools', tools_path, class: cp(tools_path) %></li>
							<li><%= link_to 'Community', users_path, class: cp(users_path) %></li>
							<li><%= link_to 'Blog', articles_path, class: cp(articles_path) %></li>
							<% if current_user %>
								<li><a href="#">P</a></li>
								<li><a href="#">G</a></li>
							<% else %>
								<li><%= link_to 'Login', login_path, class: cp(login_path) %></li>
							<% end %>
						</menu>
					</div>
				</header>

				<div class="inner">
					<%= yield %>
				</div>
			</div>
		</div>

		<footer id="bottom">
			<div class="inner">
				<p class="copyright">© Skylight Pictures 2013</p>

				<menu class="social">
					<li><a class="facebook" href="#">Facebook</a></li>
					<li><a class="twitter" href="#">Twitter</a></li>
				</menu>
				<menu class="nav">
					<li><%= link_to "Tools", tools_path, class: cp(tools_path) %></li>
					<li><%= link_to "Community", users_path, class: cp(users_path) %></li>
					<li><%= link_to "Blog", articles_path, class: cp(articles_path) %></li>
					<li><%= link_to "Contact", contact_index_path, class: cp(contact_index_path) %></li>
					<li><%= link_to "Privacy", privacy_index_path, class: cp(privacy_index_path) %></li>
				</menu>
			</div>
		</footer>
	</body>
</html>