<!doctype html>
<html class="<%= "#{@os} #{@browser} #{controller_path.split('/').first if controller_path.split('/').first != controller.controller_name} #{controller.controller_name} #{controller.action_name}"%> <%= 'has-footer' if @has_footer %>">
	<head>
		<title>The Toolbox</title>
		<%= stylesheet_link_tag "application", :media => "all" %>
		<%= javascript_include_tag "application" %>

		<meta name="viewport" content="width=device-width initial-scale=1 maximum-scale=1">
		<%= csrf_meta_tags %>
	</head>
	<body>
		<div class="wrap-outer">
			<div class="wrap-inner group">
				<%= render 'shared/header' %>

				<div class="inner">
					<%= yield %>
				</div>
			</div>
		</div>

		<%= render 'shared/footer' if @has_footer %>
	</body>
</html>