<!doctype html>
<html class="<%= "#{@os} #{@browser} #{controller_path.split('/').first} #{controller.controller_name} #{controller.action_name}"%> <%= 'has-footer' if @has_footer %>">
	<head>
		<title>The Toolbox</title>
		<%= stylesheet_link_tag "application", :media => "all" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<div class="wrap-outer">
			<div class="wrap-inner group">
				<header id="top">
					<div class="inner">
						<h6><%= link_to 'The Toolbox', root_path %></h6>

						<nav>
							<ul>
								<li><%= link_to 'Tools', tools_path, class: cp(tools_path) %></li>
								<li><%= link_to 'Articles', articles_path, class: cp(articles_path) %></li>
								<li><%= link_to 'About', about_path, class: cp(about_path) %></li>
								<% if current_user %>
									<% if current_user.admin %>
										<li><%= link_to 'Admin', admin_tools_path, class: cp(admin_tools_path) %></li>
									<% end %>
									<li><%= link_to edit_user_path current_user do %><%= image_tag current_user.profile_picture.url(:thumb) %><% end %></li>
								<% else %>
									<li><%= link_to 'Login', login_path, class: cp(login_path) %></li>
								<% end %>
							</ul>
						</nav>
					</div>
				</header>

				<div class="inner">
					<%= yield %>
				</div>
			</div>
		</div>

		<%= render 'shared/footer' if @has_footer %>
	</body>
</html>