<!doctype html>
<html class="<%= "#{@os} #{@browser} #{controller_path.split('/').first if controller_path.split('/').first != controller.controller_name} #{controller.controller_name} #{controller.action_name}"%> <%= 'has-footer' if @has_footer %>">
	<head>
		<title>The Toolbox<%= " #{@title}" if @title %></title>

		<!--[if lt IE 9]>
			<%= javascript_include_tag 'html5shiv-printshiv' %>
		<![endif]-->

		<%= stylesheet_link_tag "application", media: "all" %>

		<%= javascript_include_tag "application" %>
		<script>
			<% if current_user %>
				window.current_user = <%= current_user.to_json(only: [:first_name, :last_name, :email, :created_at, :last_login]).html_safe %>

				mixpanel.identify(window.current_user.email);

				mixpanel.register({
					"email": window.current_user.email,
					"joined": window.current_user.created_at,
					"last_login": window.current_user.last_login,
					"first_name": window.current_user.first_name,
					"last_name": window.current_user.last_name
				});
				mixpanel.people.set({
					"$email": window.current_user.email,
					"$created": window.current_user.created_at,
					"$last_login": window.current_user.last_login,
					"$first_name": window.current_user.first_name,
					"$last_name": window.current_user.last_name
				});
				mixpanel.name_tag(window.current_user.first_name + ' ' + window.current_user.last_name);

				<% if flash[:new_user] %>
					mixpanel.alias(window.current_user.email);
					mixpanel.track('Joined');
				<% end %>
			<% end %>
		</script>

		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width initial-scale=1 maximum-scale=1">
		<%= csrf_meta_tags %>
	</head>
	<body>
		<div class="wrap-outer">
			<div class="wrap-inner group">
				<%= render 'shared/header' %>

				<div class="inner">
					<%= yield %>
				</div>
			</div>
		</div>

		<%= render 'shared/footer' if @has_footer %>
	</body>
</html>